*{
    margin : 0;
    padding : 0;
    box-sizing : border-box ;
}
body {
    font-family : Josefin Sans ;
    line-height : 1.6;
    color : #212224;
    margin: auto;
}
header {
    background-color : #212224 ;
    color : white ;
    padding : 40px 20px ;
    text-align: center ;
    justify-content: space-between;
}
h2 { margin : 20px 0 10px ; }

main {
    padding : 20px ;
    display: flex;
    max-width : 1200px ;
    margin : auto ;
    gap : 25px ;
    justify-content : center ;
    align-items : center ;
}

